In [16]:
library(dplyr)
library(reshape2)
library(data.table)

Attaching package: ‘data.table’

The following objects are masked from ‘package:reshape2’:

    dcast, melt

The following objects are masked from ‘package:dplyr’:

    between, first, last

### RAL concatenation table. Including analyzable genes, mean and sd by binned categories

In [1]:
ralConcat <- lapply(list.files(pattern="*RAL*",include.dirs=T,full.names=T,path='/home/jmurga/mktComparison/results/concatenation'),load,.GlobalEnv)

In [2]:
dataPlot<- rbind(outputRAL1,
                outputRAL2,
                outputRAL5,
                outputRAL10,
                outputRAL25,
                outputRAL50,
                outputRAL75,
                outputRAL100,
                outputRAL250,
                outputRAL500,
                outputRAL750,
                outputRAL1000)

dataPlot[['bins']] <- factor(dataPlot[['bins']], levels = unique(dataPlot$bin))

In [31]:
ralConcatTableToPaper <- dataPlot %>% group_by(bins) %>% summarize(mean=round(mean(alphaAsymptotic1,na.rm=T),3),sd=round(sd(alphaAsymptotic1,na.rm=T),3),analyzable=sum(!is.na(alphaAsymptotic1))) %>% mutate(meanSd=paste0(mean,' (±',sd,')'),all=paste0(analyzable,'/3500')) %>% select(bins,meanSd,all)

ralConcatTableToPaper

   bins meanSd         all
1  1    0.856 (±0)     5/3500
2  2    0.629 (±0.247) 10/3500
3  5    0.493 (±0.394) 116/3500
4  10   0.52 (±0.286)  677/3500
5  25   0.53 (±0.193)  2535/3500
6  50   0.553 (±0.124) 3233/3500
7  75   0.568 (±0.095) 3398/3500
8  100  0.574 (±0.081) 3449/3500
9  250  0.586 (±0.051) 3500/3500
10 500  0.591 (±0.035) 3500/3500
11 750  0.593 (±0.028) 3500/3500
12 1000 0.594 (±0.024) 3500/3500

In [32]:
fwrite(ralConcatTableToPaper,file='/home/jmurga/mktComparison/results/concatenation/ralConcatTableToPaper.tab',sep='\t')

### CEU concatenation table. Including analyzable genes, mean and sd by binned categories

In [35]:
ceuConcat <- lapply(list.files(pattern="*CEU*",include.dirs=T,full.names=T,path='/home/jmurga/mktComparison/results/concatenation'),load,.GlobalEnv)

In [36]:
dataPlot<- rbind(outputCEU1,
                outputCEU2,
                outputCEU5,
                outputCEU10,
                outputCEU25,
                outputCEU50,
                outputCEU75,
                outputCEU100,
                outputCEU250,
                outputCEU500,
                outputCEU750,
                outputCEU1000)

dataPlot[['bins']] <- factor(dataPlot[['bins']], levels = unique(dataPlot$bin))

In [40]:
ceuConcatTableToPaper <- dataPlot %>% group_by(bins) %>% summarize(mean=round(mean(alphaAsymptotic1,na.rm=T),3),sd=round(sd(alphaAsymptotic1,na.rm=T),3),analyzable=sum(!is.na(alphaAsymptotic1))) %>% mutate(meanSd=paste0(mean,' (±',sd,')'),all=paste0(analyzable,'/3500')) %>% select(bins,meanSd,all)

ceuConcatTableToPaper

   bins meanSd          all
1  1    NaN (±NA)       0/3500
2  2    NaN (±NA)       0/3500
3  5    NaN (±NA)       0/3500
4  10   NaN (±NA)       0/3500
5  25   NaN (±NA)       0/3500
6  50   0.476 (±NA)     1/3500
7  75   0.121 (±0.627)  17/3500
8  100  0.137 (±0.413)  87/3500
9  250  -0.195 (±0.419) 1100/3500
10 500  -0.094 (±0.298) 1511/3500
11 750  -0.024 (±0.19)  1659/3500
12 1000 0.004 (±0.161)  1758/3500

In [41]:
fwrite(ceuConcatTableToPaper,file='/home/jmurga/mktComparison/results/concatenation/ceuConcatTableToPaper.tab',sep='\t')

### Alpha table

Python code

In [102]:
df[pop=='RAL']

   test        type       N     mean       sd        pop
1  aMKT        analyzable    18  0.4435444 0.3760245 RAL
2  aMKT        positive       0         NA        NA RAL
3  aMKT        negative       0         NA        NA RAL
4  caMKT       analyzable    21  0.6358810 0.2478635 RAL
5  caMKT       positive       3  0.5873333 0.2676632 RAL
6  caMKT       negative       0         NA        NA RAL
7  eMKT        analyzable  8458 -0.2901535 1.9306586 RAL
8  eMKT        positive    1237  0.7934437 0.1184095 RAL
9  eMKT        negative     330 -5.9440858 5.3151903 RAL
10 eMKT        analyzable  7819 -0.2316846 1.8437566 RAL
11 eMKT        positive    1243  0.7946090 0.1159380 RAL
12 eMKT        negative     305 -5.8574700 5.0218021 RAL
13 standardMKT analyzable 10368 -1.0076526 2.9084446 RAL
14 standardMKT positive     736  0.7654361 0.1290840 RAL
15 standardMKT negative     938 -6.1274915 6.4402156 RAL

In [141]:
```python
df = pd.read_csv('/home/jmurga/mktComparison/results/alphaTables/alphaTableV2.tab',sep='\t')

dfPivoted = round(df.pivot_table(index=['pop','type'],columns='test', values=['N','mean','sd']).reset_index(),3)

dfPivoted.keys()


dfPivoted.reset_index().to_csv('/home/jmurga/mktComparison/results/alphaTables/alphaPivoted.tab',sep='\t',na_rep=0,decimal=",") 



```